<% content_for :title do %>Awards<% end %>
<h2>Awards</h2>
</br>
<h3><%= link_to '2011 New Jersey E-Government Awards (Monmouth County) - Best Website in Monmouth County/Best Informative Website', 'https://www.monmouth.edu/assets/0/32212254770/32212254991/32212254992/32212254994/32212254995/30064771087/d326dae8302842feae4ac6f40bee8be1.pdf', :target => "_blank" %></h3>