<% content_for :title do %>Portfolio<% end %>
<h3>Portfolio</h3>
</br>
<h2><%= link_to 'Colts Neck Township', 'http://www.colts-neck.nj.us', :target => "_blank" %></h2>
<h2><%= link_to 'Dr. Scarpelli - Chiropractor', 'http://www.drscarpellichiro.com/', :target => "_blank" %></h2>